<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録内容確認</title>
</head>
<body>

<h1>登録内容確認</h1>

<h3>以下の内容で登録致します</h3>

<form method="post">

<table border="1">
<tr><th>名前</th><td th:text="${account.name}"></td></tr>
<tr><th>ログインID</th><td th:text="${account.loginId}"></td></tr>
<tr><th>パスワード</th><td th:text="${account.password}"></td></tr>
</table>
<input type="hidden" th:name="name" th:value="${account.name}">
<input type="hidden" th:name="loginId" th:value="${account.loginId}">
<input type="submit" value="変更" formaction="/entry">
<input type="submit" value="登録" formaction="/addAccount">

</form>

</body>
</html>