<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" />
<title>share</title>
<link th:href="@{todo.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <!--ここからメニュー-->
        <div class="menu-content">
        	<form action="/back" method="post">
			<p><input type="submit" value="マイタスクへ" class="change"></p>
			</form>
			<br>
			<ul>
				<li>
                    <a th:href="'/category/' + 0">全て</a>
                </li>
                <li th:each="c:${session.categories}">
                    <a th:href="'/category/' + ${c.code}" th:text="${c.category}" th:selected="${selectCode == c.code}"></a>
                </li>
            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>
</header>

<h1 class="center blue">みんなのタスク</h1>

<p class="right">
<span th:text="${session.name}"></span>さんがログイン中<br>
<a href="/logout">ログアウト</a>
</p>

<div class="center">
<form action="/sortShare" method="post">
<input type="radio" name="sort" value="t" th:checked="${session.sortShare.equals('t')}">登録順
<input type="radio" name="sort" value="s" th:checked="${session.sortShare.equals('s')}">締め切り順
<input type="submit" class="btn-primary" value="ソート">
</form>

<table border="1" class="margin-auto sharetask-table white">
<tr>
<th>名前</th><th>タスク</th><th>締め切り</th><th>残り時間</th>
</tr>
<tr th:each="t:${tasks}">
<td th:text="${t.name}"></td>
<td><a th:href="'/edit/' + ${t.code}" th:text="${t.task}" style="text-decoration:none; color:black"></a></td>
<td th:text="${#dates.format(t.date, 'MM/dd HH') + '時'}"></td>
<td th:text="${t.deadline}"></td>
</tr>
</table>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>