<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/todo.css}" rel="stylesheet" type="text/css">
<title>トップ</title>
</head>
<body>
<header>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <!--ここからメニュー-->
        <div class="menu-content">
        	<form action="/shareTask" method="post">
			<p><input type="submit" value="みんなのタスクへ" class="change"></p>
			</form>
			<br>
			<ul>
				<li>
                    <a th:href="'/category/' + 0">全て</a>
                </li>
                <li th:each="c:${session.categories}">
                    <a th:href="'/category/' + ${c.code}" th:text="${c.category}" th:selected="${selectCode == c.code}"></a>
                </li>
            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>
</header>

<h1 class="center">マイタスク</h1>

<p class="right">
<span th:text="${session.name}"></span>さんがログイン中<br>
<a href="/logout">ログアウト</a>
</p>

<article class="center">

<div class="flex margin-auto">

<section>

<form action="/add" method="post">
<p>
<input class="btn-circle-3d" type="submit" value="✙">
</p>
</form>

<th:block th:if="${session.category == 0}">
<h3 class="left">カテゴリー：<span th:text="全て" class="left"></span></h3>
</th:block>
<th:block th:unless="${session.category == 0}">
<h3 class="left">カテゴリー：<span th:text="${session.selectCategory}" class="left"></span></h3>
</th:block>

<form action="/sort" method="post">
<input type="radio" name="sort" value="t" th:checked="${session.sort.equals('t')}">登録順
<input type="radio" name="sort" value="s" th:checked="${session.sort.equals('s')}">締め切り順
<input type="submit" class="btn-primary" value="ソート">
</form>

<table border="1" class="margin-auto task-table white">
<tr>
<th></th><th>タスク</th><th>締め切り</th><th>残り時間</th><th>公開</th>
</tr>
<tr th:each="t:${session.tasks}">
<td>
<form th:action="'/done/' + ${t.code}" method="post">
<input type="submit" class="btn btn-primary" value="完了">
</form>
</td>
<td><a th:href="'/edit/' + ${t.code}" th:text="${t.task}" class="task"></a></td>
<td th:text="${#dates.format(t.date, 'MM/dd HH') + '時'}"></td>
<td th:text="${t.memo}"></td>
<td>
<th:block th:if="${t.share.equals('1')}">
<span th:text="公開中"></span>
</th:block>
<th:block th:unless="${t.share.equals('1')}">
<span th:text="非公開"></span>
</th:block>
</td>
</tr>
</table>

</section>

<section class="margin-left margin-top">
<div class="wrapper">
<div class="balloon2 jouge">
  <p th:text="${session.talk}"></p>
</div>
<img src="/image/cthulhu_deep_ones.png" alt="キャラクター" class="block margin-auto">
</div>
</section>

</div>

<hr>

<section>

<h3>完了したタスク</h3>

<table border="1" class="margin-auto donetask-table white">
<tr><th></th><th>タスク</th><th>締め切り</th></tr>
<tr th:each="t:${session.doneTasks}">
<td>
<form th:action="'/done/' + ${t.code}" method="post">
<input type="submit" class="btn btn-primary" value="未完了">
</form>
</td>
<td><a th:href="'/edit/' + ${t.code}" th:text="${t.task}" class="task"></a></td>
<td th:text="${#dates.format(t.date, 'MM/dd HH') + '時'}"></td>
</tr>
</table>

</section>

</article>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>